__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
env/
venv/

*.log

node_modules/
dist/
build/

.vercel/
.huggingface/

.DS_Store
.vscode/

.env
.env.local
.env.*.local

backend/Lib/
backend/Scripts/
backend/__pycache__/
